/* All-around Nord Theme */
* {
    font-family: "JetBrainsMono Nerd Font";
    background-clip: border-box;
}

.notification-row {
    outline: none;
    margin: 4px 8px;
}

.notification {
    background: #1e1a16;
    border: 1px solid #c9a06b;
    border-radius: 8px;
    color: #ddd0ba;
    padding: 12px;
}

/* Critical notifications */
.notification.critical {
    border: 1px solid #b0574a;
}

/* THE ICON FIX: GTK doesn't use flex, it uses margin/float-like behavior */
.notification-content image {
    margin-right: 15px;
    border-radius: 8px;
}

.notification-content .summary {
    color: #c9a06b;
    font-weight: bold;
    font-size: 16px;
}

.notification-content .body {
    color: #ddd0ba;
    font-size: 14px;
}

/* The Control Center Panel */
.control-center {
    background: #1e1a16;
    border: 1px solid #574c40;
    border-radius: 8px;
}

.widget-title > label {
    color: #7b8b96;
    font-size: 1.2rem;
    margin: 10px;
}

