/* Sumi palette. */
* {
    font-family: "JetBrainsMono Nerd Font";
    background-clip: border-box;
}

.notification-row {
    outline: none;
    margin: 4px 8px;
}

.notification {
    background: #1a1a19;
    border: 1px solid #c67153;
    border-radius: 8px;
    color: #c0c0be;
    padding: 12px;
}

/* Critical notifications */
.notification.critical {
    border: 1px solid #dd6155;
}

/* THE ICON FIX: GTK doesn't use flex, it uses margin/float-like behavior */
.notification-content image {
    margin-right: 15px;
    border-radius: 8px;
}

.notification-content .summary {
    color: #c67153;
    font-weight: bold;
    font-size: 16px;
}

.notification-content .body {
    color: #c0c0be;
    font-size: 14px;
}

/* The Control Center Panel */
.control-center {
    background: #1a1a19;
    border: 1px solid #44423e;
    border-radius: 8px;
}

.widget-title > label {
    color: #9aa9b4;
    font-size: 1.2rem;
    margin: 10px;
}

