window#waybar {
    background: transparent;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 13px;
}

/* Grouping modules for a consistent "Pill" look */
#workspaces,
#clock,
#pulseaudio,
#network,
#bluetooth,
#hardware,
#battery,
#custom-notification,
#custom-power-profile,
#custom-power,
#tray {
    background: #2b2520;
    color: #f2e8d5;
    padding: 2px 12px;
    margin: 5px 3px;
    border-radius: 8px;
    border: 1px solid #574c40;
}

#workspaces button {
    padding: 0 6px;
    margin: 0;
    color: #ddd0ba;
    background: transparent;
    border: none;
}

#workspaces button.focused {
    background: #c9a06b;
    color: #1e1a16;
    border-radius: 6px;
}

#workspaces button:hover {
    background: #574c40;
    color: #f2e8d5;
}

#custom-power:hover {
    background: #b0574a;
    color: #f2e8d5;
}

#custom-power {
    padding: 2px 14px 2px 10px;
}

#custom-power-profile {
    min-width: 24px;
    padding: 2px 10px;
}

#custom-power-profile.power-saver {
    color: #8a9464;
    border-color: #8a9464;
}

#custom-power-profile.performance {
    color: #b0574a;
    border-color: #c9825e;
}

/* Status Colors */
#pulseaudio.muted {
    background-color: #b0574a;
}

#network.disconnected {
    background-color: #c9825e;
}

#custom-notification.dnd-none,
#custom-notification.dnd-notification,
#custom-notification.dnd-inhibited-none,
#custom-notification.dnd-inhibited-notification {
    color: #b0574a;
}

#battery.warning {
    background-color: #d9a95c; /* Yellow */
    color: #1e1a16;
}

#battery.critical:not(.charging) {
    background-color: #b0574a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #f2e8d5;
        color: #1e1a16;
    }
}
